* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  font-family: Montserrat, sans-serif;
}

/* header */
.header {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: url(../img/header_bg.jpg) no-repeat fixed;
  background-size: cover;
}

/* navbar */
.navbar {
  display: block;
  width: 100%;
  height: 120px;
  background-color: rgba(73, 71, 63, 0.6);
}

.navbar-container {
  display: flex;
  width: 1200px;
  padding: 0 20px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  width: 197px;
  height: 67px;
  text-decoration: none;
  color: #fff;
}

.logo:hover {
  cursor: pointer;
}

.logo-polygon {
  width: 58px;
  background: url(../img/polygon.png);
  font-weight: 700;
  color: #fff;
  font-size: 41px;
  line-height: 31px;
  text-align: center;
  padding-top: 19px;
}

.logo-text {
  display: flex;
  height: 100%;
  width: 131px;
  margin-left: 8px;
  align-items: center;
}

.logo-text p {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0;
}

.logo-text .logo-highlight {
  color: #18cfab;
  font-weight: 700;
}

.nav-items {
  display: flex;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  width: 703px;
  height: 120px;
  justify-content: space-between;
  align-content: stretch;
  color: #b8b8b8;
}

.nav-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons:hover {
  cursor: pointer;
  animation-name: nav-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

.nav-buttons:hover:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  bottom: -2px;
  background-color: #18cfab;
  animation-name: nav-pseudo-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

.fas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-search:hover {
  color: #18cfab;
  cursor: pointer;
  animation-name: nav-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

.fas.fa-search:hover:after {
  color: #18cfab;
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  bottom: -2px;
  background-color: #18cfab;
  animation-name: nav-pseudo-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

/* header content*/
.header-container {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.header-suptitle {
  margin: 260px auto 22px auto;
  font-size: 35px;
  line-height: 24px;
}

.highlight {
  display: inline;
  color: #18cfab;
  line-height: 24px;
}

.header-title {
  margin: 0 auto;
  font-size: 79px;
  line-height: 57px;
}

.header-subtitle {
  margin: 22px auto 0 auto;
  text-transform: capitalize;
  font-weight: 300;
  color: #d4d4d4;
  font-size: 34px;
}

.header-btn {
  display: inline-flex;
  margin: 130px 28px 240px 0;
  width: 166px;
  height: 61px;
  background-color: #18cfab;
  border-radius: 4px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -3px white;
  text-decoration: none;
}

.header-btn:nth-child(odd) {
  background-color: #00cbf6;
}

.header-btn:hover {
  animation-name: header-btn-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

/* features */
.features-container {
  display: flex;
  width: 100%;
  height: 377px;
  align-content: stretch;
  align-items: stretch;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 120px;
  width: 25%;
}

.feature:nth-child(odd) {
  background-color: #1c2a33;
  box-shadow: 0 -7px #fff;
}

.feature:nth-child(even) {
  background-color: #18cfab;
  box-shadow: 0 -7px #ffffff;
}

.feature-img {
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature:nth-child(odd) p {
  text-align: center;
  color: #18cfab;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.feature:nth-child(even) p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* our services */
.services {
  padding: 80px 0 100px;
}

.services__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__header {
  font-size: 36px;
  text-align: center;
  color: #4e4e4e;
  position: relative;
  margin-bottom: 110px;
}

.section__header::after {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  margin-right: 5px;
  background-color: #18cfab;
  position: absolute;
  left: 50%;
  bottom: -42px;
  transform: translate(-50%, 0);
  box-shadow: 5px 4px 0 0 #18cfab;
}

.services__menu {
  display: flex;
}

.services__menu-item {
  display: flex;
  justify-content: center;
  padding: 35px 0;
  align-items: center;
  font-size: 16px;
  color: #717171;
  flex-basis: 16.66%;
  background-color: #f8fcfe;
  border: 1px solid #ececec;
  border-left: none;
}

.services__menu-item :hover {
  outline: 1px solid #18cfab;
  outline-offset: 25px;
}

.services__menu-item:first-child {
  border-left: 1px solid #ececec;
}

.services__menu-item.active {
  background-color: #18cfab;
  color: #ffffff;
  position: relative;
}

.services__menu-item.active::after {
  content: '';
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top: 12px solid #18cfab;
  position: absolute;
  bottom: -24px;
}

.services__item {
  margin-top: 25px;
  display: none;
}

.services__item.active {
  display: flex;
}

.services__item-img {
  background-position: center;
  background-size: cover;
  height: 140px;
  margin-right: 20px;
  flex: 0 1 17%;
  max-width: 200px;
}

.services__item-text {
  color: #777777;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  flex: 0 1 83%;
  transform: translate(0, -5px);
}

/* purchase block */
.purchase-block {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../img/purchase-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 125px 0;
  text-align: center;
}

.purchase-block__header {
  text-transform: uppercase;
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}

.purchase-block__sub-header {
  color: #d8d8d8;
  font-size: 16px;
  text-align: center;
  margin-bottom: 80px;
}

.purchase-block__button {
  background-color: #18cfab;
  box-shadow: #ffffff 0 -4px 0 0;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 25px;
  border-radius: 4px;
}

/* our amazing work */
.amazing-work {
  border-bottom: 1px solid #ececec;
  background-color: #f8fcfe;
  height: 100%;
}

.amazing-work-container {
  height: 100%;
  width: 1200px;
  padding: 97px 20px 85px 20px;
  margin: 0 auto;
  background-color: #f8fcfe;
}

.amazing-work__header .section__header {
  margin-bottom: 101px;
}

/* our amazing work navigation */
.amazing-work__navigation {
  display: flex;
  width: 609px;
  margin: 0 auto;
}

.aw__nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 24px 20px 20px 20px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  border: 1px solid #ececec;
  border-left: none;
}

.aw__nav-item:first-child {
  border-left: 1px solid #ececec;
}

.aw__nav-item:hover {
  cursor: pointer;
  animation-name: btn-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

.aw__nav-item:hover:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: -2px;
  background-color: #18cfab;
  animation-name: btn-pseudo-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

/* our amazing work content */
.amazing-work__grid {
  display: grid;
  width: 1139px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1px;
  justify-items: center;
  align-items: center;
  margin: 71px auto 0;
}

.amazing-work__grid :hover {
  opacity: 0.1;
}

.grid-item {
  display: none;
}

.load_more-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 165px;
  height: 60px;
  background-color: #18cfab;
  margin: 72px auto 0px auto;
  border-radius: 4px;
  color: #ffffff;
}

.load_more-btn i {
  flex-basis: 43%;
}

.btn-loader {
  display: none;
  width: 30px;
  height: 30px;
  animation: spin 0.7s linear infinite;
}

.load_more-btn p {
  font-size: 14px;
  font-weight: 700;
  flex-basis: 68%;
}

.load_more-btn:hover {
  cursor: pointer;
  animation-name: work-btn-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

/* breaking news */
.breaking-news {
  padding: 85px 0 135px;
}

.breaking-news__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.breaking-news__item {
  flex-basis: calc(25% - 90px);
  position: relative;
  margin-bottom: 45px;
}

.breaking-news__date {
  width: 66px;
  height: 66px;
  position: absolute;
  background-color: #203e38;
  padding-top: 12px;
  box-sizing: border-box;
  top: 0;
  right: 0;
}

.breaking-news__date p {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.breaking-news img {
  display: block;
}

.breaking-news__item-info {
  background-color: #edeeee;
  height: 75px;
  box-sizing: border-box;
  padding: 15px;
}

.breaking-news__item-info h3 {
  color: #717171;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.breaking-news__item-info p {
  color: #777777;
  font-size: 14px;
}

.breaking-news__item-info span:first-child:after {
  content: '|';
  margin: 0 10px;
}

.breaking-news__item:hover .breaking-news__date {
  background-color: #18cfab;
}

.breaking-news__item:hover h3 {
  color: #18cfab;
}

/* what people say about theHam */
.reviews {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/reviews-bg.jpg');
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__slider {
  position: relative;
}

.reviews__slider::before {
  content: url('../img/reviews-img.png');
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__header {
  color: #ffffff;
}

.reviews__slider ul {
  overflow: hidden;
  display: flex;
  width: 1100px;
}

.reviews__item {
  flex-basis: 100%;
  flex-shrink: 0;
  text-align: center;
  padding: 40px 0;
}

.reviews__item-img {
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
  border: 3px solid #18cfab;
}

.reviews__item-text {
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 45px;
}

.reviews__item-name {
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.reviews__item-sign {
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 35px;
}

.reviews__slider-menu {
  display: flex;
  justify-content: center;
}

.reviews__mini-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 120px;
  padding: 0 35px;
  box-sizing: border-box;
  text-align: center;
}

.reviews__slider-arrow {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #bbbbbb;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
  align-self: center;
}

.reviews__slider-arrow:hover {
  background-color: #18cfab;
  border-color: #18cfab;
}

.reviews__item-img.small {
  display: none;
}

.reviews__item-img.active {
  display: block;
  height: 56px;
  width: 56px;
  border: 2px solid rgba(31, 218, 181, 0.2);
  box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
  margin-left: 35px;
}

.reviews__item-img.active:first-of-type {
  margin-left: 0;
}

/* gallery of best images */
.gallery {
  height: 100%;
  width: 100%;
  background-color: #f8fcfe;
}

.gallery-container {
  margin: 0 auto;
  padding: 98px 20px 82px 20px;
  width: 1200px;
}

.masonry {
  width: 1140px;
  margin: 0 auto;
}

.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
  width: 370px;
}

.item {
  display: block;
  width: 370px;
  float: left;
  padding: 0;
  margin-bottom: 17px;
}

.item.mid {
  display: flex;
  justify-content: space-between;
  width: 363px;
  margin-bottom: 3px;
}

.item.small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 363px;
}
.item.last {
  display: block;
  width: 363px;
}

.item.small img {
  margin-bottom: 3px;
}

.item img {
  display: block;
}

.gallery-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 165px;
  height: 60px;
  background-color: #18cfab;
  margin: 72px auto 0px auto;
  border-radius: 4px;
  color: #ffffff;
}

.gallery-btn i {
  flex-basis: 43%;
}

.gallery-btn p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  flex-basis: 68%;
}

.gallery-btn:hover {
  cursor: pointer;
  animation-name: work-btn-hover;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

/* footer */
.footer {
  display: flex;
  height: 108px;
  width: 100%;
  background-color: #22353f;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-family: Montserrat, sans-serif;
  color: #aeaeae;
  font-size: 14px;
  font-weight: 300;
}
